.a {
    position: relative;
    background-color: lightblue;
    height: 500px;
}

.b {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: deeppink;
}

.c {
    background-color: lightgreen;
    height: 300px;
}