@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Heavyitalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Thinitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Ultralightitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
