@media screen and  (max-width: 1400px) {

}

@media screen and  (min-width: 1400px) {

}

@media screen  and (max-width: 1280px) {
    .container {
        padding: 0 24px;
    }
}

@media screen  and (max-width: 1200px) {

}

@media screen  and (max-width: 992px) {
    .main {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(131.3deg, #D4D2E1 2.85%, #C5D2E5 94.64%);
        justify-content: space-between;
    }

    .nav {
        margin-bottom: 0;
    }

    .nav .nav-social {
        display: none;
    }

    .content {
        width: 534px;
    }

    .inner-main {
        position: static;
        height: auto;
        width: 100%;
        background: none;
    }

    .inner-content {
        flex-direction: column-reverse;
    }

    .inner-content-main {
        width: 100%;
    }

    .inner-content-photo {
        width: 554px;
        margin-bottom: 32px;
        margin-top: 40px;
    }

    .inner-content-main-header {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin-top: 12px;
    }

    .inner-cards-container {
        margin-bottom: 60px;
    }

    .inner-content-main-header br {
        display: none;
    }

    .inner-content {
        margin-bottom: 60px;
    }

    .content-header {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 12px;
    }

    .cards-container {
        display: none;
    }

    .card-container-mobile {
        display: block;
    }

    .cards, .inner-cards-container .cards {
        width: 40%;
        margin-right: 16px;
    }

    .footer {
        margin-top: 0;
    }

    .footer-app-container {
        display: none;
    }

    .footer .nav-social {
        display: flex;
    }
}

@media screen  and (min-width: 992px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {
    .container {
        padding: 0 16px;
    }

    .main {
        position: static;
        background: none;
        height: auto;
    }

    .nav {
        margin-bottom: 48px;
    }

    .content {
        width: 100%;
    }

    .cards, .inner-cards-container .cards {
        width: 90%;
    }

    .inner-content-photo {
        width: 100%;
        margin-top: 0;
    }

    .ibar-logo img {
        width: 138px;
    }

    .cards-container {
        margin-bottom: 40px;
    }

    .card-container-mobile {
        overflow: hidden;
    }
}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 374px) {

}
