@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
  .l-container {
    flex-direction: column;
  }

  .l-brand {
    width: 100%;
    padding: 24px;
    justify-content: flex-start;
    background: #02307A;
  }

  .l-right {
    width: 100%;
    padding: 24px;
    align-items: start;

    &-content {
      max-width: none;
      width: 100%;

      &-otp {

        &-back {
          margin-top: 0;
          margin-bottom: 32px;
        }

        &-resend {
          margin-top: 60px;
          margin-bottom: 20px;
          flex-direction: column;

          &-text {
            margin-bottom: 6px;
          }
        }
      }

      &-ibalink {
        margin-top: 14px;
      }

      &-header {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 764px) {


}

@media screen and (max-width: 639px) {
  .l-brand {
    padding: 16px;

    &-link-logo {
      max-width: 174px;
    }
  }

  .l-right {
    padding: 16px;

    &-content {

      &-otp {
        &-resend {
          margin-top: 30px;
        }

        &-mobile {
          display: block;
        }

        &-lg {
          display: none;
        }
      }

      &-ibalink {
        margin-bottom: 10px;
      }

      &-header {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
      }

      &-form {

        &-input-container {
          margin-bottom: 16px;
        }
      }
    }
  }

}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 374px) {
}
