/* l stands for login */

.l-container {
    min-height: 100%;
    display: flex;
}

.l-brand {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02307A url("../img/iba-logo-bg.svg") -51px -100px;
}

.l-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content {
        &-otp {
            //height: 100vh;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-back {
                margin-bottom: auto;
                margin-top: 60px;

                &-link {
                    display: flex;
                    align-items: center;

                    line-height: 20px;
                    letter-spacing: 0.04em;
                    color: #99A0AC;
                }
            }

            &-resend {
                margin-top: auto;
                margin-bottom: 60px;
                display: flex;

                &-text {
                    margin-right: 8px;
                    color: #4D5A6F;
                    line-height: 20px;
                }
                &-link {
                    text-decoration-line: underline;
                    color: #1B68FF;
                }
            }

            &-mobile {
                display: none;
            }

            &-lg {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;

                &-input {
                    width: 70px;
                    margin-right: 10px;
                    padding-left: 30px;
                    padding-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        &-ibalink {
            line-height: 20px;
            letter-spacing: 0.08em;
            color: #4D5A6F;
            margin-bottom: 12px;
        }

        &-timer {
            margin-bottom: 30px;

            &-text, &-time {
                display: inline-block;
            }

            &-text {
                line-height: 24px;
                color: #001230;
                margin-right: 8px;
            }

            &-time {
                background: #02307A;
                border-radius: 100px;
                padding: 2px 7px;
                line-height: 20px;
                letter-spacing: 0.04em;
                color: #FFFFFF;
            }
        }

        &-header {
            line-height: 43px;
            color: #001230;
            margin-bottom: 34px;
        }

        &-form {

            &-input-container {
                margin-bottom: 22px;
            }
        }
    }
}
