.header {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;

  &-bgc {
    background: #FFFFFF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.02);
    position: sticky;
    top: 0;
    z-index: 50;
  }

  &-list {
    margin-left: 120px;
    margin-right: auto;
    display: flex;

    &-item {
      margin-right: 36px;

      &:last-child {
        margin-right: 0;
      }

      &-link {
        display: flex;
        align-items: center;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #001230;

        &__passive {
          color: #99A0AC;
        }

        &__passive &-logo {
          filter: brightness(0) saturate(100%) invert(65%) sepia(7%) saturate(467%) hue-rotate(179deg) brightness(98%) contrast(89%);
        }

        &-hover__passive {
          color: #99A0AC;
        }

        &-hover__passive &-logo {
          filter: brightness(0) saturate(100%) invert(65%) sepia(7%) saturate(467%) hue-rotate(179deg) brightness(98%) contrast(89%);
        }

        &__active {
          color: #001230;
        }

        &__active &-logo {
          filter: brightness(0) saturate(100%) invert(6%) sepia(24%) saturate(6442%) hue-rotate(204deg) brightness(100%) contrast(104%);
        }

        &:hover:not(&__active) {
          color: #1B68FF;
        }

        &:hover:not(&__active) &-logo {
          filter: brightness(0) saturate(100%) invert(33%) sepia(80%) saturate(3473%) hue-rotate(213deg) brightness(99%) contrast(105%);
        }

        &-logo {
          margin-right: 8px;
        }
      }
    }
  }

  &-company {
    display: flex;
    align-items: center;

    &-info {
      padding-right: 16px;
      border-right: 2px solid rgba(214, 217, 222, 0.5);
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-name {
        line-height: 20px;
        color: #001230;
        margin-bottom: 2px;
      }

      &-tel {
        line-height: 20px;
        color: #99A0AC;
      }
    }

    &-logout {
      line-height: 20px;
      letter-spacing: 0.04em;
      color: #99A0AC;
    }
  }

  &-burger {
    display: none;
    margin-left: auto;
  }

  &-dropdown-menu {
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-content {
      margin: auto 0;
      width: 100%;

      &-company {
        text-align: center;

        &-header {
          line-height: 30px;
          color: #001230;
          margin-bottom: 10px;
        }

        &-number {
          line-height: 20px;
          color: #99A0AC;
          margin-bottom: 30px;
        }
      }

      &-link {

        &-item {
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 0;
          }


          &-link {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px 0;
            background: #F6F6F9;
            border-radius: 2px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #001230;


            &-logo {
              margin-right: 8px;
            }
          }
        }
      }
    }

    &-logout {
      padding: 12px 30px;
      line-height: 20px;
      letter-spacing: 0.04em;
      color: #99A0AC;
      //margin-bottom: 100px;
    }
  }

  &-modal {
    display: none;
  }
}