@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/San Francisco-Regular.otf") format('otf');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../font/San Francisco-Medium.otf") format('otf');
}