@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../font/San Francisco-Light.otf") format('otf');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/San Francisco-Regular.otf") format('otf');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../font/San Francisco-Medium.otf") format('otf');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/San Francisco-Semibold.otf") format('otf');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../font/San-Francisco-Light.ttf") format('truetype');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../font/San-Francisco-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../font/San-Francisco-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "San Francisco";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../font/San-Francisco-Semibold.ttf") format('truetype');
}

/*********   Gotham     ***********/

@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    src: url("../font/Gotham-Medium.otf") format('otf');
}

@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../font/Gotham-Medium.ttf") format('truetype');
}