@media screen and  (max-width: 1400px) {

}

@media screen  and (max-width: 1280px) {

}

@media screen  and (max-width: 1200px) {

}

@media screen  and (max-width: 979px) {
    .container{
        padding: 22px;
        min-height: 0;
        flex-direction: column;
    }

    .content, .iba {
        width: auto;
    }

    .iba {
        background: #0047BA url("../img/iba-logo-big-tablet.png");
        border-radius: 2px;
    }

    .iba-logo {
        width: 232px;
        height: auto;
        margin: 50px 0;
    }

    .content-language {
        left: auto;
        top: 40px;
        right: 0;
    }

    .content-main-wrapper {
        margin: 0;
    }

    .content-optimal-logo , .content-form {
        padding-left: 0;
        padding-right: 0;
    }

    .content-optimal-logo {
        margin: 40px 0;
    }

    .content-form {
        min-width: 0;
    }

    .content-form-input, .content-form-submit {
        width: 100%;
        max-width: none;
    }

    .overlay-content-submit {
        padding: 19px 74px;
    }

    .overlay-close {
        top: 30px;
        right: 30px;
    }

    .overlay-close-img {
        width: 25px;
        height: 25px;
    }


    .ibalink-iba {
        width: auto;
        border-radius: 2px;
        padding: 0;
    }

    .ibalink {
        max-width: none;
        margin-top: 30px;
    }

    .ibalink-logo {
        position: static;
    }

    .content-center {
        display: block;
    }

    .ibalink-contacts {
        position: static;
        margin-bottom: 12px;
    }
    .ibalink-iba-photo, .ibalink-iba-text-container {
        display: none;
    }
}

@media screen and (max-width: 764px) {


}

@media screen and (max-width: 639px) {
    .container{
        padding: 16px;
    }

    .iba-logo {
        width: 153px;
        height: auto;
        margin: 20px 0;
    }

    .content-language {
        left: auto;
        top: 24px;
        right: 0;
    }

    .content-optimal-logo {
        margin: 24px 0;
    }

    .content-optimal-logo-img {
        width: 156px;
        height: auto;
    }

    .content-form-container{
        margin-bottom: 16px;
    }

    .content-form-input, .content-form-submit {
        width: 100%;
    }

    .content-form-feedback{
        align-items: start;
    }

}

@media screen and (max-width: 414px) {

    .overlay-content {
        padding: 40px 24px;
        width: calc(100% - 32px);
        box-sizing: border-box;
    }

    .overlay-content-submit {
        padding: 19px 0;
        text-align: center;
        width: 100%;
    }

    .overlay-close {
        top: 24px;
        right: 24px;
    }

    .overlay-close-img {
        width: 25px;
        height: 25px;
    }

    .ibalink-header {
        font-size: 24px;
        line-height: 29px;
    }
}

@media screen and (max-width: 374px) {
    .ibalink-text {
        margin-bottom: 20px;
    }
}
