@import url("font.css");

html, body {
    height: 100%;
    font-family: 'San Francisco', sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
}

.content {
    width: 52%;
    position: relative;
}

.iba {
    width: calc(100% - 52%);
    background: #0047BA url("../img/logo.svg") 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-language {
    position: absolute;
    left: calc((100% - 470px)/2);
    top: 24px;
}

.content-language-list {
    display: flex;
}

.content-language-list-item {
    margin-right: 14px;
}

.content-language-list-item:last-of-type {
    margin-right: 0;
}

.content-language-list-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration-line: underline;
    color: #99A0AC;
    text-transform: uppercase;
}

.content-language-list-item-link-active {
    color: #001230;
    text-decoration: none;
}

.content-language-list-item-link:hover {
    text-decoration: none;
}

.content-main-wrapper {
    margin: 55px 0;
}

.content-optimal-logo {
    margin-bottom: 40px;
}

.content-optimal-logo-img {
    width: 197px;
    height: auto;
}

.content-form {
    min-width: 470px;
}

.content-form-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    position: relative;
}

.content-form-input {
    padding: 19px 20px;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 470px;
    color: #000;

    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.content-form-input:focus {
    border-color: #000;
    outline: none;
}

.content-form-input-number::-webkit-outer-spin-button,
.content-form-input-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.content-form-input-number {
    -moz-appearance: textfield;
}

.content-form-input-label {
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    color: #8A8A8A;
}

.content-form-input + .content-form-input-label {
    top: 8px;
    left: 21px;
    font-size: 13px;
    line-height: 16px;
}

.content-form-input:placeholder-shown + .content-form-input-label {
    top: 20px;
    left: 21px;
    font-size: 16px;
    line-height: 20px;
}

.content-form-input:not(:placeholder-shown) , .content-form-input:focus {
    padding-top: 29px;
    padding-bottom: 9px;
}

.content-form-input:focus + .content-form-input-label {
    top: 8px;
    left: 21px;
    font-size: 13px;
    line-height: 16px;
}

.content-form-submit {
    width: 100%;
    max-width: 470px;
    background: #0047BA;
    border-radius: 2px;
    font-size: 15px;
    line-height: 20px;
    padding: 19px;
    color: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.content-form-submit:hover{
    background: #0043AF;
}

.content-form-submit:focus {
    outline: none;
}

.content-form-input-error {
    border-color: #FF0000;
}

.content-form-input-error-text {
    color: #FF0000;
    margin-top: 8px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 17px;
}

.content-form-feedback{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.error {
    color: #FF0000;
}

.success {
    color: #48C388;;
}

.content-form-feedback-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
}

/***************** Overlay Starts *****************/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    background-color: #fff;
    border-radius: 2px;
    padding: 50px 60px;
}

.overlay-content-info {
    margin-bottom: 18px;
}

.overlay-content-info-header {
    font-size: 13px;
    line-height: 16px;
    color: #8A8A8A;
    margin-bottom: 5px;
}

.overlay-content-info-text {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.overlay-content-price {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin: 30px 0;
}

.overlay-content-submit {
    padding: 19px 85px;
    background: #0047BA;
    border-radius: 2px;
    color: #ffffff;
}

.overlay-close {
    position: absolute;
    top: 50px;
    right: 135px;
}

.overlay-close-img {
    width: 34px;
    height: 34px;
}

.d-none {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}


/**************************  IBALINK PAGE ***********************/

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibalink {
    max-width: 470px;
    color: #001230;
    margin: 90px 0;
}

.ibalink-logo {
    margin-bottom: 20px;
    position: absolute;
    top: 22px;
    left: 40px;
}

/*.ibalink-subheader {*/
/*    margin-bottom: 12px;*/
/*    font-weight: 600;*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    color: #4D5A6F;*/
/*    letter-spacing: 1.3px;*/
/*}*/

.ibalink-header {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
}

.ibalink-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: 300;
}

.ibalink-button {
    display: block;
    background: #0047BA;
    border-radius: 2px;
    padding: 19px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
}

.ibalink-container {
    position: relative;
}

.ibalink-contacts {
    position: absolute;
    right: 40px;
    top: 35px;
    z-index: 1;
}

.ibalink-contacts-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibalink-contacts-list-item {
    position: relative;
    display: flex;
    align-items: center;
}

.ibalink-contacts-list-item:first-of-type {
    margin-right: 22px;
}

.ibalink-contacts-list-item:first-of-type:after {
    position: absolute;
    content: '';
    top: 1px;
    right: -10px;
    height: 20px;
    border-right: 2px solid rgba(0, 18, 48, 0.15);
}

.ibalink-contacts-list-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 18, 48, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ibalink-contacts-list-item-link:hover {
    text-decoration: underline;
}

.ibalink-contacts-list-item-link-icon {
    margin-right: 7px;
}

.ibalink-contacts-list-item-link-ext {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 18, 48, 0.8);
    margin-left: 5px;
}