@media screen and  (max-width: 1400px) {

}

@media screen and  (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1240px;
    }
}

@media screen  and (max-width: 1280px) {

}

@media screen  and (max-width: 1200px) {

}

@media screen  and (max-width: 992px) {
    .bg-img-none {
        background-image: none;
    }
}

@media screen  and (min-width: 992px) {
    .w-lg-auto { width: auto; }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {

}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 374px) {

}
