//M stands for main

.m {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  //align-items: flex-start;

  //lg stands for link generation
  &-lg {
    &-bg {
      width: 60%;
      padding: 100px 16px;
      background: #02307A url("../img/iba-logo-bg.svg") -152px -206px;
      margin-right: 30px;
      border-radius: 2px;
      display: flex;
      justify-content: center;

      &-3 {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    &-subheader {
      line-height: 20px;
      letter-spacing: 0.08em;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 12px;
    }

    &-header {
      line-height: 43px;
      color: #FFFFFF;
      margin-bottom: 34px;
    }

    &-form {

      &-input {

        &-container {
          margin-bottom: 22px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-error {
        display: inline-block;
        padding: 6px 10px;
        line-height: 16px;
        color: #FFFFFF;
        background: #EB5757;
        border-radius: 2px;
        position: absolute;
        right: 15px;
        top: calc(50% - 14px);
      }
    }

    &-modal {

      &-header {
        margin-bottom: 0;

        &-success {
          padding: 0;
          margin: 0;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;

        &-link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 42px;
          padding-top: 16px;

          &-text {
            line-height: 20px;
            color: #001230;
          }

          &-copy {
            display: flex;
            align-items: center;
            line-height: 20px;
            letter-spacing: 0.04em;
            color: #99A0AC;
            position: relative;

            &-icon {
              margin-right: 4px;
            }

            &:hover {
              color: #001230;
            }

            &:hover &-icon {
              filter: brightness(0) saturate(100%) invert(41%) sepia(60%) saturate(6619%) hue-rotate(214deg) brightness(100%) contrast(103%);
            }

            &-success {
              position: absolute;
              left: -188px;
              padding: 14px 16px;
              border: 1.5px solid #D6D9DE;
              border-radius: 4px;
              background-color: #fff;
              line-height: 20px;
              color: #001230;

              //display: flex;
              display: none;
              align-items: center;

              &:after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-top: solid 1.5px #D6D9DE;
                border-right: solid 1.5px #D6D9DE;
                transform: rotate(45deg);
                top: 17.5px;
                right: -6.7px;
              }

              &-icon {
                margin-right: 10px;
              }
            }
          }
        }

        &-radios {
          display: flex;
          margin-bottom: 22px;

          &-item {
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }

            &-label {
              line-height: 20px;
              color: #001230;
            }
          }
        }

        &-send {

          &-social {
            display: flex;

            &-link {
              width: 52px;
              height: 52px;
              background: #99A0AC;
              border-radius: 50%;
              margin-right: 16px;
              transition: background-color 400ms ease-in-out;

              display: flex;
              justify-content: center;
              align-items: center;

              &-whatsapp:hover {
                background-color: $whatsapp;
              }

              &-messenger:hover {
                background-color: $messenger;
              }

              &-instagram:hover {
                background-color: $instagram;
              }

              &-telegram:hover {
                background-color: $telegram;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        &-success {
          display: flex;
          flex-direction: column;
          align-items: center;

          &-icon {
            margin-bottom: 40px;
          }

          &-text {
            line-height: 44px;
            color: #001230;
          }
        }
      }
    }
  }

  &-statistics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-item {
      background: #FFFFFF;
      border-radius: 2px;
      position: relative;
      padding: 34px 40px;

      &-header {
        line-height: 24px;
        color: #4D5A6F;
        margin-bottom: 14px;
      }

      &-text {
        line-height: 64px;
        color: #001230;
        position: relative;
        z-index: 5;
      }

      &-photo {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}