@media screen and (min-width: 374px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 413px) {

}

@media screen and (min-width: 764px) {

}


@media screen and (min-width: 639px) {
  .menu {
    &-category {
      &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        column-gap: 3rem;

      }

    }
  }
}

@media screen  and (min-width: 979px) {
  .menu {
    &-category {
      &-list {
        grid-template-columns: 1fr 1fr 1fr;
      }

    }
  }
}

@media screen  and (min-width: 1200px) {

}

@media screen and  (min-width: 1400px) {

}
