/****************************************************/
/*Colors*/
/****************************************************/

$whatsapp:              #4CAF50;
$messenger:             #2196F3;
$instagram:             #BE0048;
$telegram:              #039BE5;

/****************************************************/
/*General*/
/****************************************************/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.body-bg {
    background: #F6F6F9;
}

.dark-blue-bg {
    background: #02307A;
}

.h-100 {
    height: 100%;
}

.w-max-470 {
    max-width: 470px;
}

.w-max-570 {
    max-width: 570px;
}

.d-none {
    display: none !important;
}

.button-standard {
    width: 100%;
    background: #1B68FF;
    border-radius: 2px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;

    &:hover {
        background: #185EE7;
    }
}

/****************************************************/
 /*Font Sizes*/
/****************************************************/

.fs-xs {
    font-size: 12px;
}

.fs-sm {
    font-size: 14px;
}

.fs-md {
    font-size: 18px;
}

.fs-lg {
    font-size: 24px;
}

.fs-xl {
    font-size: 36px;
}

.fs-xxl {
    font-size: 64px;
}

/*Font Weights*/

.fw-300 {
     font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

/****************************************************/
/*general input styling*/
/****************************************************/

.input-container {
    position: relative;
}

input {
    width: 100%;
    padding: 19px;
    background: #FFFFFF;
    border: 1px solid #D6D9DE;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001230;
    -webkit-appearance:none;
}

input::placeholder{
    color: #99A0AC;
}

input:focus {
    outline: none;
    border-color: #001230;
}

input[type=submit] {
    padding: 19px;
    background: #1B68FF;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 400ms ease-in-out;
    border: none;
    -webkit-appearance: none;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background: #185EE7;
}

label {
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    color: #99A0AC;
}

.input-animated + label {
    top: 8px;
    left: 21px;
    font-size: 13px;
    line-height: 16px;
}

.input-animated:placeholder-shown + label {
    top: 20px;
    left: 21px;
    font-size: 16px;
    line-height: 20px;
}

.input-animated:not(:placeholder-shown), .input-animated:focus {
    padding-top: 29px;
    padding-bottom: 9px;
}

.input-animated:focus + label {
    top: 8px;
    left: 21px;
    font-size: 13px;
    line-height: 16px;
}

/****************************************************/
/*Input Radio*/
/****************************************************/

.radio-label {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

.radio-label .input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    padding: 0;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #D6D9DE;
    border-radius: 50%;
    box-sizing: border-box;
}

.radio-label .input-radio:checked ~ .radio-checkmark {
    background-color: #1B68FF;
    border-color: #1B68FF;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-label .input-radio:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-label .radio-checkmark:after {
    top: 5px;
    left: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}


/****************************************************/
/*Input Checkbox*/
/****************************************************/

/* The container */
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
}

/* Hide the browser's default checkbox */
.checkbox-label .input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    padding: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1.7px solid #D6D9DE;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label .input-checkbox:checked ~ .checkbox-checkmark {
    background-color: #1B68FF;
    border-color: #1B68FF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-label .input-checkbox:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkbox-checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/****************************************************/
/*Error Message*/
/****************************************************/

.error-message-container {
    display: flex;
    align-items: center;

    background: #FCEBED;
    border-radius: 2px;
    padding: 13px 16px;
    margin-bottom: 24px;
}

.error-message-icon {
    margin-right: 12px;
}

.error-message-text {
    line-height: 20px;
    color: #581A1A;
}

.input-error-text {
    margin-top: 8px;
    margin-left: 20px;
    line-height: 17px;
    color: #EB5757;
    display: block;
}

.input-error-border {
    border-color: #EB5757;
}

/****************************************************/
/*Ajax Loader*/
/****************************************************/


@keyframes ldio-1hd1w1g391p {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-1hd1w1g391p div {
    position: absolute;
    width: 36px;
    height: 36px;
    border: 5px solid #1b68ff;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-1hd1w1g391p div {
    animation: ldio-1hd1w1g391p 1s linear infinite;
    top: 30px;
    left: 30px
}
.loadingio-spinner-rolling-eeejfrxccwm {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-1hd1w1g391p {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-1hd1w1g391p div { box-sizing: content-box; }