@media screen and  (max-width: 1400px) {

}

@media screen  and (max-width: 1280px) {

}

@media screen  and (max-width: 1200px) {

}

@media screen  and (max-width: 992px) {
    body {
        height: auto;
        /*min-height: calc(100vh - 100px);*/
        background-image: none;
        background-color: #000021;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {

}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 374px) {

}
